<launch>
  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="forest_joy">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12"/>
  </node>

  <!-- Axis -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="50" type="double"/>
  <param name="scale_angular" value="180" type="double"/>
  <param name="start_button" value="10" type="int"/>
  <node pkg="mod01_cntl" type="mod01_cntl_joy_node" name="joy_cntl"/>

  <!-- Arduino -->
  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="57600" />
  </node>

  <!-- hokuyo3d -->
  <node name="hokuyo3d" pkg="hokuyo3d" type="hokuyo3d" output="screen">
    <param name="ip" value="192.168.0.10" />
    <param name="output_cycle" value="frame" />
    <param name="frame_id" value="hokuyo3d" />
    <param name="interlace" value="4" />
  </node>

  <!-- Samplinger -->
  <node name="imu_samplinger" pkg="mod01_cntl" type="mod01_cntl_imu_node">
    <arg name="samplinghz" default="5"/>
    <arg name="filename" default="test.csv"/>
    <param name="SamplingTime" value="samplinghz"/>
    <param name="FileName" value="/home/ymp/catkin_ws/src/Module_Robot01/DataBox/$(arg filename)"/>
  </node>
</launch>
