<launch>
	<param name="/first" type="int" value="0"/>
	<param name="/numOfControllers" type="int" value="2"/>
	
	<node respawn="true" pkg="joy" type="joy_node" name="Mod_joy" >
	    <param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>

	<node respawn="true" pkg="mod01_driver" type="wheel_drive_beta" name="wheel_cntl">
	</node>
</launch>